.reveal-if-smoke {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }

#smoke, #drink, #specifyComorbid, #hospitalized, #dateOfHospitalization, #symptoms, #mildSymptoms, #severeSymptoms, #whichMedication, #herbalMed, #allopathicDrug, #otherMed{
    display: none; 
}